<%= provide(:title, 'About') %>
<div class="row">
  <div class="span8 offset1 well">
    <h2>About Us</h2>
    <br/>
    <p>We are the team of dedicated professionals, striving to make technology
       more applied and useful in everyday life than ever.</p>
    <p>We strongly believe that technology is the only way for humanity to thrive.</p>
    <p>By making our products and services we are trying to bring us all closer
       to that moment</p>
    <br><h3>Resources</h3><br>
    <ul class="unstyled">
      <li><a href="http://vasil-y.com">Our Blog</a></li>
      <li><a href="https://github.com">GitHub</a></li>
      <li><a href="http://habrahabr.ru">Habrahabr</a></li>
    </ul>
    <br><h3>Contacts</h3><br>
    <address>
      <strong>Simple Solutions, Inc.</strong><br>
      230 Saranskaya Street, Suite 550<br>
      Moscow, Russia 109156<br>
      <abbr title="Phone">P:</abbr> (800) 318-4004
    </address>
    <address>
      <strong>Help and Suggestions</strong><br>
      <a href="mailto:help@getmedia.com">help@getmedia.com</a>
    </address>
  </div>
</div>
