- provide(:title, 'Home')
%h3 Top 7 Trending Words
= render partial: 'shared/table', locals: { entities: @words, is_sortable: false }
= link_to 'More words...', 'words/'
%h3 Top 7 Trending Websites
= render partial: 'shared/table', locals: { entities: @sites, is_sortable: false }
= link_to 'More sites...', 'sites/'
