- provide(:title, 'Home')
%center
  %h3 Top 7 Trending Words
%br
= render partial: 'shared/table', locals: { entities: @words, mtype: 'word', sort: nil }
= link_to 'More words...', controller: 'words'
%center
  %h3 Top 7 Trending Websites
%br
= render partial: 'shared/table', locals: { entities: @sites, mtype: 'site', sort: nil }
= link_to 'More sites...', controller: 'sites'
