- provide(:title, @entities.first.type)
%h2 Trending #{@entities.first.type}
= will_paginate @entities, inner_window: 2
= render partial: 'shared/table', locals: { entities: @entities, is_sortable: true }
= will_paginate @entities, inner_window: 2
