- provide(:title, @entities[0].type)
%h2 Trending #{@entities[0].type}
= will_paginate @entities, inner_window: 2
= render partial: 'shared/table', locals: { entities: @entities, is_sortable: true }
= will_paginate @entities, inner_window: 2
