<div class="row-fluid highlight">
  <div class="span8">
    <b><%= link_to entity.name, name.downcase + "s/" + CGI.escape(entity.name) %></b>
  </div>
  <% for measurement in measurements %>
    <div class="span1">
      <%= link_to entity.measurement_values.find_by_measurement_id(measurement).value,
          measurement.url + CGI.escape(entity.name), :target => "_blank" %>
    </div>
  <% end %>
</div>
