<div class="row">
  <div class="span5 offset3">
    <%= form_for :entity, :url => words_path,
                          :html => { :class => "form-inline" } do |f| %>
      <div class="row">
        <div class="span2">
          <%= f.text_field :name, :placeholder => "Enter a word..." %>
        </div>
        <div class="span1 offset1">
          <%= f.submit "Search", :class => "btn btn-primary submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
