<div class="container-fluid well">
  <div class="row-fluid">
    <div class="span8">
      <% sort_name = (params[:sort] == "name") ? "name DESC" : "name" %>
      <%= sort ? (link_to mtype.capitalize, :sort => sort_name, :page => params[:page]) : mtype.capitalize %>
    </div>
    <% Measurement.find_all_by_mtype(mtype).each do |measurement| %>
      <div class="span1">
        <% msort = (params[:sort] == measurement.name.downcase + " DESC" or 
                     (params[:sort].nil? and measurement.name == "Google")) ? measurement.name.downcase : measurement.name.downcase + " DESC" %>
        <%= sort ? (link_to measurement.name, :sort => msort, :page => params[:page]) : measurement.name %>
      </div>
    <% end %>
  </div>
  <br/>
  <%= render :partial => 'shared/table_entity',
             :collection => entities,
             :as => :entity,
             :locals => { :mtype => mtype } %>
</div>
