.container-fluid.well
  .row-fluid
    .span8.header
      = is_sortable ? (link_to 'Name', sort: params[:sort] == 'name' ? 'name DESC' : 'name', page: params[:page]) : 'Name'
    - entities.map { |e| e.measurements.map { |m| m.name }}.flatten.uniq.map do |mname|
      .span1
        - msort = (params[:sort] == mname.downcase + ' DESC' or (params[:sort].nil? and mname == 'Google')) ? mname.downcase : mname.downcase + ' DESC'
        = is_sortable ? (link_to mname, sort: msort, page: params[:page]) : mname
  = render partial: 'shared/table_entry', collection: entities, as: :entity
