<%= provide(:title, 'Words') %>
<h2>Trending Words</h2>
<br/>

<%= will_paginate @words, :inner_window => 2 %>

<%= render :partial => 'shared/table',
           :locals => { :entities => @words,
                        :mtype => "word",
                        :sort => 1 } %>

<%= will_paginate @words, :inner_window => 2 %>
