@import "bootstrap";

$border-radius: 4px;

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

div.highlight:hover {
  background-color:      #ded;
  border-radius:         $border-radius;
  -moz-border-radius:    $border-radius;
  -webkit-border-radius: $border-radius;
}

.brand {
  background: url("logo.png") no-repeat left center;
}

.socials {  
  padding: 5px;
} 
